/*
Theme Name: ThemaGeblek
Theme URI: ThemaGeblek.com
Description: 2 column WordPress theme.
Author: ThemaGeblek
Author URI: ThemaGeblek.com
Version: 10.01
Tags: 2-columns, fixed-width


The CSS, XHTML and design is released under GPL:
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


/* Reset Css */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
margin:0;
padding:0;
}

* {
margin:0;
padding:0;
}

/* Headeline */
h1 {
font-size:2.5em;
line-height:1.2em;
}

h2 {
font-size:2em;
line-height:.9em;
}

h3 {
font-size:1.5em;
line-height:1.2em;
}

h4 {
font-size:1.2em;
line-height:1.5em;
}

h5 {
font-size:1.1em;
line-height:1.8em;
}

h6 {
font-size:1em;
line-height:1.8em;
}

h1,h2,h3,h4,h5,h6 {
font-family:Georgia,"Times New Roman",Times,serif;
margin-bottom:.5em;
}
/* End Headline */

/* begin layout */
body {
line-height:1;
font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
background:#333;
color:#999;
margin:0;
padding:0;
}

#page {
width:950px;
background:#000;
-moz-box-shadow:0 0 15px rgba(0,0,0,0.5);
-webkit-box-shadow:0 0 15px rgba(0,0,0,0.5);
border-top:10px solid #333;
margin:10px auto 0;
padding:5px 15px 5px 15px;
}

/* Header */
#header {
width:100%;
height:100%;
background:#000000;
}

#header h1,#header h2 {
color:#ff2b00;
font:italic 3em/1 georgia,"Times New Roman",serif;
margin:0;
padding:0;
}

.description {
color:#FFFFFF;
font-family:georgia;
font-weight:700;
letter-spacing:-1px;
padding:0 5px 0 0;
width:auto;
}

#header #header_right {
float:right;
width:468px;
text-align:right;
font-size:1.2em;
color:#fff;
padding:20px 15px 20px 0;
}

#header #header_left {
float:left;
width:430px;
text-align:left;
font-size:1.2em;
color:#fff;
padding:10px 0 20px 15px;
}

/* Navigation */
#nav_link,#cat {
height:33px;
color:#999;
line-height:30px;border-bottom:3px solid #333;
width:950px;
margin:0 0 1px;
}

.nav,#cat_nav {
z-index:99;
list-style:none;
line-height:1;
overflow:visible;
clear:both;
margin:0;
padding:1px 0;
}

.nav a {
z-index:100;

display:block;
text-decoration:none;
}

.nav li,#cat_nav li {
float:left;
width:auto;
display:inline-block;
margin:0;
}

.nav li a,#cat_nav li a {
color:#999;border-right:1px solid #333;
line-height:18px;
text-decoration:none;
display:inline-block;
padding:7px 15px 7px 15px;
}

.nav li.first{
background:#0f0f0f;
color:#999;
}

.nav li.first a {
color:#999;
}

.nav li a:hover,.nav li a:active,.nav li.current_page_item {
background:#0f0f0f;
color:#ff2b00;
text-decoration:none;
}

.nav li.current_page_item a{
color:#999;
}

.nav li.current_page_item ul li a{
color:#999;
}

.nav li ul li a{
background:#0f0f0f;
color:#999;
}

.nav li:hover > ul,#cat_nav li:hover > ul {
display:block;
z-index:2;
}

.nav li ul li:hover ul,#cat_nav li ul li:hover ul {
left:0;
}

.nav li ul,#cat_nav li ul {
 position:absolute;
left:-999em;
width:166px;
z-index:999;
border:1px solid #333;
border-bottom:none;
}

.nav li ul li,#cat_nav li ul li {
border-bottom:1px solid #333;
list-style:none;
}

.nav li ul li a,.nav li ul li a:visited,#cat_nav li ul li a,#cat_nav li ul li a:visited {
background:#0f0f0f;
width:140px;
color:#999;
border-bottom:none;
padding:7px 13px 6px;
}

.nav li ul li a,#cat_nav li ul li a {
padding:7px 13px 6px;
}

.nav li ul li a:hover,#cat_nav li ul li a:hover {
background:#0f0f0f;
color:#999;
border-bottom:none;
}

.nav li ul ul,#cat_nav li ul ul {
margin:-32px 0 0 166px;
}

.nav li:hover,.nav li.hover,#cat_nav li:hover,#cat_nav li.hover {
position:static;
}

.nav li:hover ul ul,.nav li:hover ul ul ul,.nav li:hover ul ul ul ul,#cat_nav li:hover ul ul,#cat_nav li:hover ul ul ul,#cat_nav li:hover ul ul ul ul {
left:-999em;
}

.nav li:hover ul,.nav li li:hover ul.nav li li li:hover ul,.nav li li li li:hover ul,#cat_nav li:hover ul,#cat_nav li li:hover ul#cat_nav li li li:hover ul,#cat_nav li li li li:hover ul {
left:auto;
}

/* search */
#search {
display:inline;
float:right;
height:24px;
margin:0 15px 0 0;
}

#search input {
background:#fff;
float:left;
width:190px;
font-size:13px;
font-style:normal;
color:#999;
line-height:12px;
border:1px solid #333;
margin:1px 0 0;
padding:5px 6px;
}

#search input:focus,#search input:hover {
border:1px solid #333;
}

#search input.btn {
background:none;
border:none;
width:auto;
margin:7px 0 0 -22px;
padding:0;
}

/* category navigation */
#cat {
background:none repeat scroll 0 0 #0f0f0f;
border-bottom:3px solid #ccc;
border-top:1px solid #ccc;
}

#cat_nav a {
border-right:1px solid #ccc;
position:relative;
display:block;
text-decoration:none;
}

#cat_nav a:hover {
color:#999;
background:#000;
}
.current-cat a{
background:#000;
color:#999 !important;
}
li.current-cat ul.children li a{
color:#999 !important;
}
li.current-cat ul.children li a:hover {
color:#999 !important;
}
/* wrapper */
#wrapper {
width:100%;
overflow:hidden;
}

#content {
float:right;
line-height:1.6em;
padding-top:15px;
width:728px;
border-left:1px dashed #333;
padding-left:15px;
}

#content h1.post-title,#content h2.post-title {
font-size:18px;color:#ff2b00;
line-height:.9em;
font-family:'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
font-style:normal;
}

#content h1.post-title a,#content h2.post-title a {
color:#ff2b00;
text-decoration:none;
}

#content h1.post-title a:hover,#content h2.post-title a:hover{
color:#ff2b00;
text-decoration:none;
}

#content a {
color:#ff2b00;
text-decoration:none;
}

a.more-link{
background:#000;
border:2px solid #333;
clear:both;
display:block;
float:right;
padding:2px 3px;
text-decoration:none;
}

#content a:hover {
text-decoration:underline;
}

#content em {
font-style:italic;
font-weight:400;
}

#content strong em,#content em strong {
font-style:italic;
font-weight:700;
}

#content del {
text-decoration:line-through;
color:#aaa;
}

#content ins {
text-decoration:underline;
font-weight:700;
}

#content pre,#content code,#content tt {
background:#000;
color:#999;
display:inline;
font:12px/20px 'andale mono','lucida console', monospace;
overflow:auto;
margin:0;
padding:2px 3px;
}

#content hr {
background-color:#000;
color:#999;
clear:both;
width:100%;
height:1px;
border:none;
margin:15px 0;
}

blockquote,q {
quotes:none;
background:#0f0f0f;
overflow:hidden;
color:#888;
font-style:italic;
clear:both;
margin:0 0 11px;
padding:0 0 0 40px;
}

.entry {
font:1.1em/1.6em 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
padding:0;text-align:justify;
}

.entryp {
font:1.1em/1.6em 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
padding:0;text-align:justify;overflow:hidden;
}

#content img.wp-smiley {
padding:0;
border:none;
background:none;
}

.entry p {
padding-bottom:10px;
margin:0;
}

img.centered {
display:block;
margin-left:auto;
margin-right:auto;
margin-bottom:10px;
padding:0;
}

.aligncenter {
display:block;
margin-left:auto;
margin-right:auto;
margin-bottom:10px;
}

.alignright {
float:right;
margin:7px 10px 10px;
}

.alignleft {
float:left;
margin:7px 10px 10px 0;
}

.wp-caption {
background:#0f0f0f;
text-align:center;
border:1px solid #e6e6e6;
padding:4px 0 5px;
}

.wp-caption img {
border:0;
margin:0 0 5px;
padding:0;
}

.wp-caption p.wp-caption-text {
font-size:11px;
font-weight:400;
line-height:12px;
margin:0;
padding:0;
}

.entrytext .postmetadata {
margin-top:20px;
}

#content .postmetadata {
border-top:1px solid #333;
border-bottom:1px solid #333;
font-size:11px;
color:#B1B1B1;
margin-top:10px;
margin-bottom:20px;
padding:5px 0;
}
.ipost {
    border: 1px solid #333;
    float: left;
    height: 180px;
    margin: 0 5px 10px;
    overflow: hidden;
    padding: 5px;
    width: 160px;
}
#content .postmetadata a {
color:#B1B1B1;
text-decoration:none;
padding:0;
}

#content .postmetadata a:hover {
color:#ff2b00;
text-decoration:underline;
background:none;
padding:0;
}

.navigation {
margin:0px 0 0 0;
}

.pagetitle {
font-size:1.6em;
margin-bottom:20px;
}

/* sidebar */
#sidebar {
display:inline;
float:left;
width:191px;
margin:0;
}

#sidebar a:link,#sidebar a:visited {
color:#999;
padding:2px 3px 2px 0px;
text-decoration:none;
}

#sidebar a:hover {
color:#ff2b00;
text-decoration:underline;
}

#sidebar ul {
margin-bottom:20px;
list-style:none;
}

#sidebar .sidebar_inner ul h2 {
background:none repeat scroll 0 0 #333333;
border-top:1px solid #ccc;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
color:#999;
font:16px/100% Georgia,"Times New Roman",serif;
letter-spacing:1px;
margin:0;
padding:7px 15px 7px 15px;
}

#sidebar .sidebar_inner ul h2 a{
text-decoration:none;
color:#999;
}

#sidebar .sidebar_inner ul h2 a:hover{
color:#ff2b00;
}

#sidebar ul li {
margin:0;
padding:5px 0;
}


#sidebar ul ul {
clear:both;
list-style:none;
margin:0 0 0 15px;
padding:0;
}

#sidebar .sidebar_inner ul ul li {
border-bottom:1px solid #333;
}

#sidebar .sidebar_inner {
background:#000;
width:auto;
padding:10px 0 5px 0px;
}

#sidebar .sidebar_inner ul ul li ul {
padding-left:20px;
margin-bottom:0;
}

#sidebar .sidebar_inner ul ul li ul li {
list-style:none;
line-height:1.6em;
font-size:1.1em;
border-bottom:0;
}

.textwidget {
padding:0 2px;
}

/* comment form */
#respond {
margin:15px 0;
}

h3.responds {
font-size:1.5em;
}

#respond p {
color:#999;
margin:0;
}

.comments-box {
padding:10px 0 0;
}

.comments-box h3 {
font-size:14px;
}

.comments-box h2 {
font:bold 2em/1.5em "Warnock Pro","Goudy Old Style",Palatino,"Book Antiqua",Georgia,serif;
height:51px;
width:auto;
float:left;
border:none;
margin:0;
padding:12px 0 0;
}

.comments-box h2.join {
width:100%;
margin:0;
padding:0;
}

.cancel-comment-reply {
font-size:11px;
padding:5px 0 0;
}

.cancel-comment-reply a {
color:#999;
}

.cancel-comment-reply a:hover {
color:#ff2b00;
text-decoration:none;
padding:0;
}

.text {
border:1px solid #333;
color:#999;
width:200px;
padding:2px;
}

span.jump-comment {
position:relative;
margin-top:25px;
float:right;
}

#content span.jump-comment a {
color:#999;
text-decoration:none;
font-weight:700;
padding:0;
}

#content span.jump-comment a:hover {
background:none;
text-decoration:none;
color:#999;
padding:0;
}

/* comment list */
#pings {
margin-bottom:40px;
}

ul.children {
margin-left:0;
}

ol.commentlist {
margin:-20px 0 0;
padding:0;
}

cite.fn {
font-size:14px;
font-weight:700;
font-style:normal;
letter-spacing:-.05em;
display:block;
padding-top:0;
}

.commentlist li blockquote {
background:url(images/quote-comment.png) 0 8px no-repeat;
margin:0 0 11px;
padding:0 0 0 25px;
}

.commentlist li {
list-style:none;
border:1px dashed #333;
margin:10px 0 0;
padding:15px;
}

.commentlist code {
background:#e6e6e6;
padding:5px;
}

.commentlist p {
clear:both;
padding-top:5px;
margin:0;
font:1.1em/1.6em 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}

.commentlist .moderation {
margin-top:10px;
color:#999;
}

.commentlist .thread-even {
background:#fafafa;
}

.commentlist .children {
margin-top:15px;
}

.commentlist .comment-author {
margin-bottom:5px;
}

.commentlist .avatar {
margin-right:10px;
float:left;
border:1px solid #e9e9e9;
background:#fff;
padding:3px;
}

.commentlist .reply {
text-align:right;
margin:15px 0 0;
}

#content .commentlist .reply a,#content .commentlist .reply a:visited,#content .cancel-comment-reply a {
color:#fff;
text-align:center;
font-size:11px;
text-decoration:none!important;
background:none;
padding:0 6px 1px!important;
}

.commentlist .comment-meta {
float:left;
margin-bottom:15px;
}

.commentlist .comment-date a,.commentlist .comment-date a:visited {
color:#888;
font-size:1.1em;
}

#commentform {
margin:10px 0 0;
}

#commentform input.txt,#commentform textarea {
font:14px/14px Arial, Helvetica, sans-serif;
border-color:#ccc #efefef #efefef #ccc;
border-style:solid;
border-width:1px;
}

#commentform input.txt {
color:#666;
background:#fcfcfc;
width:170px;
margin:0 5px 10px 0;
padding:5px 7px;
}

#commentform textarea {
color:#666;
background:#fcfcfc;
width:712px;
line-height:130%;
padding:7px;
}

#commentform #submit {
background:none repeat scroll 0 0 #0f0f0f;
border:2px solid #ccc;
color:#F0F0F0!important;
display:block;
width:220px;
margin:10px 0;
padding:9px 8px;
}

.button,.button:visited,.reply a,.cancel-comment-reply a {
font-weight:700;
display:inline-block;
color:#424242!important;
text-decoration:none;
position:relative;
cursor:pointer;
background-color:#fff;
border:1px solid #ddd;
padding:5px 10px 6px;
}

.button:hover,.reply a:hover {
color:#000!important;
text-decoration:none;
}

img.alignnone,img.alignright,img.alignleft {
display:inline;
margin:6px 10px 10px 0;
}

.commentlist li.depth-2,.commentlist li.depth-4 {
background:#fff;
border-bottom:1px dashed #CCC;
margin-left:15px;
}

.commentlist li.depth-3,.commentlist li.depth-5 {
background:#fafafa;
border-bottom:1px dashed #CCC;
margin-left:15px;
}

.commentlist .comment-meta a {
color:#666 !important;
text-decoration:none;
}

.metadata a:hover,cite.fn a,cite.fn a:hover {
color:#333;
text-decoration:none;
}

/* footer */
#footer {
color:#fff;
width:100%;
clear:both;
background:#0f0f0f;
border-bottom:10px solid #333;
}

#footer_left {
text-align:left;
float:left;
width:480px;
line-height:1.6em;
padding:10px 0 10px 20px;
}

#footer_right {
text-align:right;
float:right;
width:390px;
margin-left:0;
padding:10px 20px 10px 0;
}

/* wp-pagenavi */
.navigation .wp-pagenavi {
letter-spacing:1px;
text-transform:uppercase;
font-weight:700;
margin:0 0 15px ;
padding:5px 0 4px;
}

.navigation .wp-pagenavi a:link,.navigation .wp-pagenavi a:visited {
display:inline;
background:#0f0f0f;
color:#999;
text-decoration:none;
border:1px solid #333;
margin:0 0 0 2px;
padding:7px 10px 6px!important;
}

.navigation .wp-pagenavi .on,.navigation .wp-pagenavi .current {
color:#111;
border:1px solid #DDD;
margin:0 0 0 2px;
padding:7px 10px 6px;
}

.navigation .wp-pagenavi .on {
background:#000;
}

.navigation .wp-pagenavi .extend,.navigation .wp-pagenavi span.pages {
background:#0f0f0f;
color:#999;
border:1px dashed #dadada;
padding:7px 10px 6px;
}

.navigation .wp-pagenavi .current,.navigation .wp-pagenavi a:hover {
background:#000;
color:#FFF !important;
text-decoration:none !important;
}

.navigation a.scroll {
padding:1px 3px;
}

.navigation a:hover.scroll {
background:#ff2b00;
color:#000;
text-decoration:none;
padding:1px 3px;
}

.wp-pagenavi a.last {
margin-top:10px;
}

/* clearing */
.clear {
clear:both;
display:block;
overflow:hidden;
visibility:hidden;
width:0;
height:0;
}

.clearfix:after {
clear:both;
content:' ';
display:block;
font-size:0;
line-height:0;
visibility:hidden;
width:0;
height:0;
}


/* misc */
#header h1 a,#header h2 a,#footer a,#footer a:hover,#footer a:visited {
color:#ff2b00;
text-decoration:none;
}

#header h1 a:hover,#header h2 a:hover {
text-decoration:none;
}

#nav_link,.commentlist li.bypostauthor {
background:#0f0f0f;
}

.cancel-comment-reply a,#footer #inner-footer{
padding:0;
}

.nav li ul li ul,#searchform label,#searchsubmit,span.says,hr {
display:none;
}

/* ads */

.ads-1, .ads-5  {
margin:0px;
}
.ads-2{
padding:10px 0 0 10px;
}
.ads-3  {
padding:0px 0 0 0;
}
.ads-4 {
margin-bottom:10px;
padding:5px 10px;
}
.ads-6{
margin:0 0 15px;
}
/* Floating ads */
#topbar{
-moz-border-radius:10px 10px 10px 10px;
-webkit-border-radius:10px 10px 10px 10px;
background:#FFFFFF;
border:0.5em solid #F0F0F0;
padding:2px;
position:absolute;
visibility:hidden;
width:auto;
z-index:1000;
}

#mnt img {
    border-bottom: 1px solid #333;
    float: left;
    height: 120px;
    padding-bottom: 5px;
    width: 160px;
}

#recent-post {margin: 0px 0px -5px 15px;background:;float:left;line-height:22px;padding:0;}
#recent-postt h3 {background:none repeat scroll 0 0 #333;border:1px solid #ccc;color:#999;
font:16px/100% Georgia,"Times New Roman",serif;
	letter-spacing:1px;
	border-bottom:none;
	margin:15px 0 5px 0;
	padding:7px 15px 7px 15px;text-shadow:none;}
#recent-post li {border-bottom:1px solid #222;list-style:none;}
#rpcat {font-size:10px;color:#999;text-decoration:underline}
#recent-post a {
	text-decoration:underline;
	color:#999;

}

#recent-post a:hover {
	color:#ff2b00;
	text-decoration:underline;
}


.batasmain {clear:both;padding-top:0px;padding-right:0;padding-bottom:0px;}

.posted-single img{height:500px;width:728px;margin:0px 0px 5px 0px;border-radius:4px}

.lb-album{
	width: 728px;
	margin: 0 auto;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
}
.lb-album li{
	float: left;overflow:hidden;
	margin: -500px 0px 0px 0px;
	position: relative;
}
.lb-album li > a,
.lb-album li > a img{
	display: block;
}
.lb-album li > a{
	width: 728px;
	height: 500px;
	position: relative;
	padding-top: 0px; border-radius:4px
}
.lb-album li > a span{
	position: absolute;color:#999;
	width: 728px;
	height: 500px;
	top: 0px;border-radius:4px;
	left: 0px;
	text-align: center;
	line-height: 600px;
	
	font-size: 24px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	background: rgb(210,241,194);
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(241,210,194,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%);
	background: radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%);
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
.lb-album li > a:hover span{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-overlay{
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background:rgba(0,0,0 ,0.8);
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0 ,0.8)) 0%, rgba(0,0,0 ,0.8) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0 ,0.8)), color-stop(100%,rgba(241,210,194,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(10,0,0 ,0.8) 0%,rgba(0,0,0 ,0.8) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0 ,0.8) 0%,rgba(0,0,0 ,0.8) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0 ,0.8) 0%,rgba(0,0,0 ,0.8) 100%);
	background: radial-gradient(center, ellipse cover,rgba(0,0,0 ,0.8) 0%,rgba(0,0,0 ,0.8) 100%);
}
.lb-overlay > div{
	position: relative;
	color: rgba(128,128,128,0.8);
	width: 550px;
	height: 80px;
	margin: 40px auto 0px auto;
	
}
.lb-overlay div h3,
.lb-overlay div p{
	text-align: center;
	width: 550px;
	height: 10px;
}
.lb-overlay div h3{
	font-size: 16px;
	float: left;
	
	Color:#fff;
}
.lb-overlay div h3 span,
.lb-overlay div p{
	font-size: 16px;
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-style: italic;
}
.lb-overlay div h3 span{
	display: block;
	line-height: 6px;
}
.lb-overlay div p{
	font-size: 14px;
	text-align: left;
	float: left;
	width: 260px;
}
.lb-overlay a.lb-close{
	background:rgba(36,201,10,0.8);
	z-index: 1001;
	color: #fff;
	position: absolute;
	top: 43px;
	left: 50%;
	font-size: 15px;border-radius:4px;
	line-height: 26px;
	text-align: center;
	width: 50px;
	height: 23px;
	overflow: hidden;
	margin-left: -25px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.lb-overlay img{
	/* height: 100%; For Opera max-height does not seem to work */
	min-height: 100%;
	position: relative;
	opacity: 0;border-radius:4px;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	-ms-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}
.lb-prev, .lb-next{
	text-indent: -9000px;
	position: absolute;
	top: -32px;
	width: 24px;
	height: 25px;
	left: 50%;
	opacity: 0.8;
	filter: alpha(opacity=80); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)"; /*IE8*/
}
.lb-prev:hover, .lb-next:hover{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-prev{
	margin-left: -30px;
	background: transparent url(images/arrows.png) no-repeat top left;
}
.lb-next{
	margin-left: 6px;
	background: transparent url(images/arrows.png) no-repeat top right;
}
.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 80px 100px 120px 100px;
}
.lb-overlay:target img,
.lb-overlay:target a.lb-close{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
/* 
	100% Height for Opera as the max-height seems to be ignored, not optimal for large screens 
	http://bricss.net/post/11230266445/css-hack-to-target-opera 
*/
x:-o-prefocus, .lb-overlay img {
    height: 100%;
}

.lb-albumsgl{
	width: 728px;
	margin: 0 auto;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
}
.lb-albumsgl li{
	float: left; overflow:hidden;
	margin: -505px 0px 0px 0px;
	position: relative;
}
.lb-albumsgl li > a,
.lb-albumsgl li > a img{
	display: block;
}
.lb-albumsgl li > a{
	width: 728px;
	height: 500px;
	position: relative;
	padding: 0px 0px 0px 10px;
}
.lb-albumsgl li > a span{
	position: absolute;color:#fff;
	width: 728px;
	height: 500px;
	top: 0px;border-radius:4px;
	left: 0px;
	text-align: center;
	line-height: 400px;
	font-size: 24px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	background: rgb(241,210,194);
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(241,210,194,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%);
	background: radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%);
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
.lb-albumsgl li > a:hover span{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-overlaysgl{
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background:rgba(0,0,0 ,0.8);
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0 ,0.8)) 0%, rgba(0,0,0 ,0.8) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0 ,0.8)), color-stop(100%,rgba(241,210,194,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(10,0,0 ,0.8) 0%,rgba(0,0,0 ,0.8) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0 ,0.8) 0%,rgba(0,0,0 ,0.8) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0 ,0.8) 0%,rgba(0,0,0 ,0.8) 100%);
	background: radial-gradient(center, ellipse cover,rgba(0,0,0 ,0.8) 0%,rgba(0,0,0 ,0.8) 100%);
}
.lb-overlaysgl > div{
	position: relative;
	color: rgba(128,128,128,0.8);
	width: 550px;
	height: 80px;
	margin: 40px auto 0px auto;
	
}
.lb-overlaysgl div h3,
.lb-overlaysgl div p{
	text-align: center;
	width: 550px;
	height: 10px;
}
.lb-overlaysgl div h3{
	font-size: 16px;
	float: left;
	Color:#fff;
}
.lb-overlaysgl div h3 span,
.lb-overlaysgl div p{
	font-size: 16px;
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-style: italic;
}
.lb-overlaysgl div h3 span{
	display: block;
	line-height: 6px;
}
.lb-overlaysgl div p{
	font-size: 14px;
	text-align: left;
	float: left;
	width: 260px;
}
.lb-overlaysgl a.lb-closesgl{
	background: rgba(36,201,10,0.8);
	z-index: 1001;
	color: #fff;
	position: absolute;
	top: 60px;
	left: 50%;
	font-size: 15px;
	line-height: 26px;border-radius:4px;
	text-align: center;
	width: 50px;
	height: 23px;
	overflow: hidden;
	margin-left: -25px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.lb-overlaysgl img{
	/* height: 100%; For Opera max-height does not seem to work */
	min-height: 100%;
	position: relative;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	-ms-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}
.lb-prev, .lb-next{
	text-indent: -9000px;
	position: absolute;
	top: -32px;
	width: 24px;
	height: 25px;
	left: 50%;
	opacity: 0.8;
	filter: alpha(opacity=80); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)"; /*IE8*/
}
.lb-prev:hover, .lb-next:hover{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-prev{
	margin-left: -30px;
	background: transparent url(images/arrows.png) no-repeat top left;
}
.lb-next{
	margin-left: 6px;
	background: transparent url(images/arrows.png) no-repeat top right;
}
.lb-overlaysgl:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 110px 100px 120px 100px;
}
.lb-overlaysgl:target img,
.lb-overlaysgl:target a.lb-closesgl{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
/* 
	100% Height for Opera as the max-height seems to be ignored, not optimal for large screens 
	http://bricss.net/post/11230266445/css-hack-to-target-opera 
*/
x:-o-prefocus, .lb-overlaysgl img {
    height: 100%;
}


#recent-postimg h3 {background:none repeat scroll 0 0 #333;border:1px solid #ccc;color:#999;
font:16px/100% Georgia,"Times New Roman",serif;
	letter-spacing:1px;
	border-bottom:none;
	margin:-20px 0 10px 0;
	padding:7px 15px 7px 15px;text-shadow:none;}
#recent-post2 {margin: 0px 15px 25px 0px;background:#000;display:inline;float:left;line-height:22px;padding:0;border-radius: 4px 0px 0px 0px}
#recent-post2-title {font-weight:400;line-height:22px;color:#999;}
.recent-post1-thumb img {width:180px;height:130px;border:1px solid #222;padding:5px}

#gallerysingle {margin: 10px 0px 0px 0px;padding: 0px;width:740px;text-align:justify;color: #999;min-height:90px;}
#gallerysingle h2 {background:#000;margin: 0px 0px 15px 0px;padding: 7px 0px 7px 0px;font-size:18px;color:#ff2b00;width:728px;font-family:'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;}
#gallerysingle img {margin: 0 11.2px 11px 0px;padding:5px;text-align:justify;border:1px solid #ccc;width:100px;height:100px;}

.related{width:728px;display:block;margin:0;padding:0px;text-align:justify;}
.related h3 {font-size:16px;margin:0 0 15px 0;font-family:'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;color:#ff2b00;}
.related li{margin:0px 0px 0px 0px;overflow:hidden;}
.related a{text-decoration:underline;font-size:14px}
.related-p{width:728px;display:block;margin:0px 0px 0px 0px;padding:0px}
#rpcatp {font-size:10px;color:#8e8c8c;text-decoration:underline;margin:0px 0px 0px 0px;}
#rltd{float:left;background:#fcfcfc;font-size:11px;font-weight:700;margin:0px 0px 15px 0px;border:0px solid #bbcfb1;clear:both;padding:10px 10px 0px 0px;height:90px;}
.rltdleft {float:left;margin:0px 25px 15px 0px;width:180px;}
.rltdleft img {width:180px;height:130px;border:1px solid #E6E6E6;padding:5px}

.posted-att img{height:500px;width:728px;margin:10px 0px 0px 0px;border-radius:4px}
.navigationmain {margin:-31px 0 0 0px;height:15px}
.navigationmain a {font-size:1px}
.current {font-size:1px}
#navim {margin:0px 0 0 0 -1px;background:#000;}
#crumbs ul, li {
    list-style-type:none;
    padding:0 0px 0 0;overflow:hidden;
    margin:0 ;
    }

    #crumbs { 
    border:0px solid #333;
    height:2.3em;margin:0 10px 0 0px;
    }

    #crumbs li {
    float:left;
    line-height:2.3em;
    padding-left:0px;padding-right:10px;
    color:#999; 
    }

    #crumbs li a {
    background:#0f0f0f;color: #999;font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif;border-radius:  0 10px 10px 0  ;-moz-border-radius:  0 10px 10px 0  ;-webkit-border-radius:  0 10px 10px 0  ;padding: 2px 10px 2px 10px;border:1px solid #333;display: inline-block;margin-bottom:2px
    }

    #crumbs li a:link, #crumbs li a:visited {
   color:#ff2b00;text-decoration:none;
    }

    #crumbs li a:hover, #crumbs li a:focus {
    color:#ff2b00;
    }

#breadcrumbs{float:none;width:728px;color:#999;font-size:10px;font-weight:700;margin:-2px 0px 10px 0px;border:0px solid #333;clear:both;padding:0px 0px 0px 0px;overflow:hidden;}
#breadcrumbs a{color:#999}
#breadcrumbs1{float:none;width:619px;color:#999;font-size:10px;font-weight:700;margin:-2px 0px 11px 0px;border:0px solid #333;clear:both;padding:0px 0px 0px 0px}
#breadcrumbs1 a{color:#999}
#breadcrumbs2 {float:none;width:619px;color:#999;font-size:10px;font-weight:700;margin:-2px 0px 11px 0px;border:0px solid #333;clear:both;padding:0px 0px 0px 0px;overflow:hidden;}
#breadcrumbs2 a{color:#999}
.ipost h2 {
    clear: both;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin: 10px 0 0 !important;
    padding-top: 10px;
    text-align: center;
}